<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
		<meta name="title" content="Ultrasonic Phased Array">
		<meta name="copyright" content="Raphael Mijnssen and Jonas Plüss">
		<meta name="author" content="Raphael Mijnssen and Jonas Plüss">
		<meta name="description" lang="de" content="">
		<meta name="abstract" lang="de" content="">
		<meta name="keywords" lang="de" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='style.css')}}">
		<link rel="stylesheet" type="text/css" media="print" href="{{url_for('static', filename='print.css')}}">
		<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
		<title>
			Ultrasonic Phased Array
		</title>
	</head>
	<body>
		<header>
			<h1>
				Ultrasonic Phased Array
			</h1>
		</header>
		<main>
			<div class="indent">
				<a href="{{url_for('static', filename='fachbericht.pdf')}}">Technische Dokumentation</a>
			</div>
			<!--<div class="indent">
				<h3>
					Projektidee
				</h3>
				<p>

				</p>
			</div>
			<div class="indent">
				<h3>
					Umsetung
				</h3>
				<p>

				</p>
			</div>
			<div class="indent">
				<h3>
					Ergebnisse
				</h3>
				<p>

				</p>
			</div>
			<div class="indent">
				<h3>
					Projektteam
				</h3>
				<p>

				</p>
			</div>
			<div class="indent">
				<p>
					<a href={{url_for('index')}}>Back</a>
				</p>
			</div>-->
		</main>
		<footer>
			<p>
				copyright &copy; 2016 - 2017 by Raphael Mijnssen &amp; Jonas Plüss
			</p>
		</footer>
	</body>
</html>
